<ul>
  <li>
    <a routerLink="/pictures" routerLinkActive="active">Pictures</a>
  </li>
  <li>
    <a routerLink="/audio" routerLinkActive="active">Audio</a>
  </li>
</ul>
<router-outlet></router-outlet>